@import "tailwindcss";

@theme {
  --color-dark-900: #0a0a0a;
  --color-dark-800: #111111;
  --color-dark-700: #1a1a1a;
  --color-dark-600: #222222;
  --color-dark-500: #2a2a2a;
  --color-accent: #22d3ee;
  --color-accent-dark: #06b6d4;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
